$container-max-widths: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1550px
);
$main-color: #204790;
$section-padding: 40px;
$subtitle-color: #2c6fa2;
$margin-top-content: 50px;
$margin-top-subtitle: 16px;
$large-text: 20px;
$small-text: 16px;
$large-text-sm: 18px;
$small-text-sm: 15px;